#include "EngineCommon/precomp.h"

#ifdef IMGUI_ENABLED

#include "GameLogic/Imgui/ComponentInspector/ComponentWidgetsRegistration.h"

{imgui/component_inspector_window_includes}

namespace ComponentWidgetsRegistration
{{
	void RegisterInspectWidgets(std::map<StringId, std::unique_ptr<AbstractComponentImguiWidget>>& componentInspectWidgets)
	{{
		{imgui/component_inspector_window_register}
	}}
}}

#endif // IMGUI_ENABLED
