BasedOnStyle: GNU
Standard: Latest

# tabs vs spaces and indentation sizes
TabWidth: 4
UseTab: ForContinuationAndIndentation
IndentWidth: 4
AccessModifierOffset: -4
ContinuationIndentWidth: 4

# alignment and indentation rules
AlignAfterOpenBracket: BlockIndent
AlignConsecutiveAssignments: None
AlignEscapedNewlines: DontAlign
AlignOperands: DontAlign
AllowAllArgumentsOnNextLine: false
AllowAllParametersOfDeclarationOnNextLine: false
IndentCaseLabels: false
IndentPPDirectives: None
LambdaBodyIndentation: Signature
NamespaceIndentation: All

# line breaks
AllowShortBlocksOnASingleLine: Always
AllowShortCaseLabelsOnASingleLine: false
AllowShortFunctionsOnASingleLine: All
AllowShortIfStatementsOnASingleLine: Always
AllowShortLambdasOnASingleLine: All
AllowShortLoopsOnASingleLine: true
AlwaysBreakAfterDefinitionReturnType: None
AlwaysBreakAfterReturnType: None
AlwaysBreakTemplateDeclarations: MultiLine
BreakBeforeBraces: Custom
BraceWrapping:
  AfterCaseLabel: false
  AfterClass: true
  AfterControlStatement: Always
  AfterEnum: true
  AfterExternBlock: true
  AfterFunction: true
  AfterNamespace: true
  AfterStruct: true
  AfterUnion: true
  BeforeCatch: true
  BeforeElse: true
  BeforeLambdaBody: false # this messes up lambdas completely when true
  IndentBraces: false
  SplitEmptyFunction: false
  SplitEmptyRecord: true
BreakBeforeBinaryOperators: NonAssignment
BreakBeforeTernaryOperators: true
BreakConstructorInitializers: BeforeComma
BreakInheritanceList: BeforeComma
PackConstructorInitializers: CurrentLine
ReflowComments: false

# empty lines
InsertNewlineAtEOF: true
KeepEmptyLinesAtTheStartOfBlocks: false
EmptyLineAfterAccessModifier: Never
EmptyLineBeforeAccessModifier: Always
MaxEmptyLinesToKeep: 1

# namespaces
CompactNamespaces: false
FixNamespaceComments: true
ShortNamespaceLines: 10

# includes
SortIncludes: CaseInsensitive
IncludeBlocks: Regroup
IncludeCategories:
  # note that 0 is reserved for the current file header
  - Regex: '^[<"]EngineCommon/precomp.h[>"]$'
    Priority: -1
  - Regex: '^[<"]EngineCommon/.*$'
    Priority: 3
  - Regex: '^[<"]EngineData/.*$'
    Priority: 4
  - Regex: '^[<"]GameData/.*$'
    Priority: 5
  - Regex: '^[<"]HAL/.*$'
    Priority: 6
  - Regex: '^[<"]EngineUtils/.*$'
    Priority: 7
  - Regex: '^[<"]GameUtils/.*$'
    Priority: 8
  - Regex: '^[<"]EngineLogic/.*$'
    Priority: 9
  - Regex: '^[<"]GameLogic/.*$'
    Priority: 10
  - Regex: '^[<"]AutoTests/.*$'
    Priority: 11
  - Regex: '^[<"]GameMain/.*$'
    Priority: 12
  - Regex: '^[<"]UnitTests/.*$'
    Priority: 13
    # STL includes that don't contain .h go right after precomp and current file include
  - Regex: '^<[a-zA-Z0-9_/]+>$'
    Priority: 1
  - Regex: '.*'
    Priority: 2

# spaces
ObjCSpaceAfterProperty: false
ObjCSpaceBeforeProtocolList: false
PointerAlignment: Left
Cpp11BracedListStyle: false # true breaks closing brace for multiline initialization lists
SpaceAfterCStyleCast: false
SpaceAfterLogicalNot: false
SpaceAfterTemplateKeyword: false
SpaceBeforeAssignmentOperators: true
SpaceBeforeCpp11BracedList: false
SpaceBeforeCtorInitializerColon: true
SpaceBeforeInheritanceColon: true
SpaceBeforeParens: ControlStatements
SpaceBeforeRangeBasedForLoopColon: true
SpaceInEmptyParentheses: false
SpacesBeforeTrailingComments: 1
SpacesInAngles: Never
SpacesInCStyleCastParentheses: false
SpacesInContainerLiterals: false
SpacesInParentheses: false
SpacesInSquareBrackets: false

# other
ColumnLimit: 0
InsertBraces: true
