# cmake files
CMakeCache.txt
CMakeFiles
cmake_install.cmake
CMakeUserPresets.json

# generated binaries
*.exe

# optional level data
*.lbg.json
*.pbg.json

# vs files
*.user
*.sdf
*.ilk
*.pdb
*.suo
*.opensdf
*.ipch
*.db
*.opendb
*.vcxproj.filters
*.vcxproj
*.sln

# generated code
*.generated.cpp
*.generated.h

# jetbrains ide files
.idea/

# other
/.scripter_config.local.json
*.log
log.txt
*_log.txt
.vs
*.obj
*.tlog
*.cache
/bin
/build
/package
__pycache__
/cmake-build-*
