[submodule "editor/Qt-Advanced-Docking-System"]
	path = editor/Qt-Advanced-Docking-System
	url = ../Qt-Advanced-Docking-System.git
[submodule "external/sources/imgui"]
	path = external/sources/imgui
	url = ../../ocornut/imgui.git
[submodule "external/sources/soa-sort"]
	path = external/sources/soa-sort
	url = ../soa-sort.git
[submodule "external/include/raccoon-ecs"]
	path = external/include/raccoon-ecs
	url = git@github.com:gameraccoon/raccoon-ecs.git
[submodule "external/sources/cameron314/concurrentqueue"]
	path = external/include/cameron314/concurrentqueue
	url = git@github.com:gameraccoon/concurrentqueue.git
