#include "EngineCommon/precomp.h"

#include "GameData/ComponentRegistration/ComponentJsonSerializerRegistration.h"

{serialization/json/component_serializable_includes}

{serialization/json/component_json_serializer_includes}

namespace ComponentsRegistration
{{
	void RegisterJsonSerializers(Json::ComponentSerializationHolder& jsonSerializerHolder)
	{{
		{serialization/json/component_json_serializer_register}
	}}
}}
