#include "EngineCommon/precomp.h"

#include "GameData/Components/{class_name}.generated.h"

#include "GameUtils/Scripting/LuaTypeImplementation.h"

template<>
struct LuaTypeImplementation<{class_name}>
{{
	static void PushValue(lua_State& state, [[maybe_unused]] const {class_name}& value) noexcept;

	static std::optional<{class_name}> ReadValue(lua_State& state, const int index) noexcept;
}};
